<form action="/works" class="form-search">
  <div class="input-group  input-group-lg">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">GO!</span></button>
    </span>
    <input class="form-control" type="search" name="q" placeholder="un mot pour commencer"/>
  </div>
  <input type="hidden" name="path_id" value="<%= @path_id %>">
  <input type="hidden" name="origin_key" value="start">
  <input type="hidden" name="origin_value" value="">
</form>
