<form action="/works">
  <input type="search" name="q"/>
  <input type="hidden" name="path_id" value="<%= @path_id %>">
  <input type="hidden" name="origin_key" value="start">
  <input type="hidden" name="origin_value" value="">
  <input type="submit" value="go"/>
</form>
