<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/bleh.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,400' rel='stylesheet' type='text/css'>
  <script src="/sigma.min.js"></script>
  <script src="/plugins/sigma.renderers.customShapes.min.js"></script>
  <script src="/plugins/sigma.layout.forceAtlas2.min.js"></script>
  <%= @bg %>
  </head>
  <body>
  <div class="container-fluid">
    <div class="row">
        <%= yield %>
    </div>
  </div>
  </body>
</html>
